* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: lightblue;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  height: 100vh
}

.start-screen {
  align-items: center;
  background-color: blue;
  background-image: url("images/jeopardy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  left: 30%;
  position: absolute;
  top: 20%;
  width: 500px;
  z-index: 1;
}

.input-player-name-title {
  background-color: white;
}

.hidden {
  display: none;
}

.name-input,
.start-button {
  margin: 5px;
  width: 50%;
}

.question-display {
  background-color: #f6c348;
  border: solid black 2px;
  font-size: 25px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.game-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.quit-game,
.reset-game {
  font-size: 18px;
  padding: 2px;
}

.top-navigation-container {
  background-color: #060CE9;
  background-image: url(images/jeopardytitle.png);
  background-position: center;
  background-size: cover;
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gameboard-container {
  border-bottom: solid 1px black;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}

.game-instruction-container {
  background-color: #f6c348;
  padding: 15px;
  margin: 5px;
}

.question-answer-input,
.submit-answer-button {
  display: flex;
  height: 25px;
  margin: auto;
  width: 150px;
}

.round-display {
  align-items: center;
  display: flex;
  justify-content: center;
}

.round-display p {
  background-color: white;
  text-align: center;
  border: solid black 2px;
  font-size: 35px;
  width: 150px;
}

.game-question-table {
  height: 100%;
  text-align: center;
  width: 100%;
}

tr, 
td {
  border: solid black 2px;
  width: 25%;
}

.bottom-names-container {
  background-color: #060CE9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.name-styling {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}