* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



main {
  background-color: lightblue;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
}

.hidden {
  display: none;
}

.game-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.start-game,
.reset-game {
  font-size: 18px;
  padding: 2px;
}

.top-navigation-container {
  background-color: #9d9171;
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gameboard-container {
  border-bottom: solid 1px black;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.game-instruction-container {
  background-color: #AB4E68;
}

.bottom-navigation-container {
  background-color: #B07156;
}

.title-game {
  background-color: #c4a287;
  font-size: 75px;
  height: 75px;

}

.round-display {
  display: flex;
 /* flex-direction: column;*/
  justify-content: center;
  align-items: center;
}

.round-display p {
  font-size: 35px;
}

.game-question-table {
  width: 100%;
  height: 100%;
/*  border: solid black 1px;
*/}

tr, 
td {
  border: solid black 1px;
}

.bottom-navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


