* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



main {
  background-color: lightblue;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
}

.top-navigation-container {
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gameboard-container {
  border-bottom: solid 1px black;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.bottom-navigation-container {
  
}

.title-game {
  height: 75px;
  font-size: 75px;
}

.game-question-table {
  width: 100%;
  height: 100%;
/*  border: solid black 1px;
*/}

tr, 
td {
  border: solid black 1px;
}

.bottom-navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


